<div class="col-sm-8">
  <div class="well">
      <h3 class="text-center"><mark>Published notes</mark></h3>
      <div class="row text-right" >
        <div >
          Notes:  ({{auth.public_notes.length}})
        </div>
      </div>
      <p/>
      <hr class="panel-info"/>
      <notes-container container-class="auth_container" notes="auth.public_notes"
                     showattributes="false" showpublic="false" showfavorite="false"></notes-container>
  </div>
</div>
<div class="col-sm-4">
    <div class="well">
        <h3>Login</h3>
        <form>
            <p class="alert alert-danger" ng-if="auth.loginError"><strong>Error:</strong> {{auth.loginErrorText}}</p>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
            </div>
            <div class="form-group text-right">
              <button class="btn btn-primary" ng-click="auth.login()">Submit</button>
            </div>
        </form>
        <ul>
          <li>Email: user@test.com Password: test</li>
          <li>Email: user2@test.com Password: test2</li>
          <li>Email: user3@test.com Password: test3</li>
        </ul>
    </div>
</div>
