<div class="col-sm-12" ng-show="!isLoading">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
          <h3 ng-if="authenticated" class="text-success">
            Welcome, {{currentUser.name}}
          </h3>
          <div class="alert alert-danger" ng-if="user.error">
              <strong>There was an error: </strong> {{user.error.error}}
              <br>Please go back and login again
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          YOUR FAVORITE NOTES ({{user.user_notes.length}})
        </div>
        <div class="panel-body">
          <div class="user_container">
            <notes-container container-class="user_container"
                            notes="user.user_notes" showpublic="false" showfavorite="true"
                            add-to-fav="user.addToFavorite(id)" rem-to-fav="user.remToFavorite(id)"></notes-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          ALL YOUR NOTES  ({{user.user_notes.length}})
        </div>
        <div class="panel-body">
          <notes-container container-class="user_container"
                            notes="user.user_notes" showpublic="true" showfavorite="true"
                            publish="user.publish(id)" unpublish="user.unpublish(id)"></notes-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          ALL PUBLIC NOTES  ({{user.public_notes.length}})
        </div>
        <div class="panel-body">
          <div class="user_container">
            <notes-container container-class="user_container" notes="user.public_notes" showpublic="false" showfavorite="true"></notes-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">CREATE A NOTE <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
