<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
          <h3 ng-if="authenticated" class="text-success">
            Welcome, {{currentUser.name}}
          </h3>
          <div class="alert alert-danger" ng-if="user.error">
              <strong>There was an error: </strong> {{user.error.error}}
              <br>Please go back and login again
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">YOUR FAVORITE NOTES <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">ALL YOUR NOTES  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">ALL LAST 10 PUBLIC NOTES <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">CREATE A NOTE <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
