<div class="col-sm-12" ng-show="!isLoading">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
          <h3 ng-if="authenticated" class="text-success">
            Welcome, {{currentUser.name}}
          </h3>
          <div class="alert alert-danger" ng-if="user.error">
              <strong>There was an error: </strong> {{user.error.error}}
              <br>Please go back and login again
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">YOUR FAVORITE NOTES <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">ALL YOUR NOTES  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">ALL LAST 10 PUBLIC NOTES <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            <div class="col-sm-12">
              <div class="row"  ng-repeat="note in user.public_notes">
                <div class="col-sm-12">
                  <div class="row" style="font-size:10px;">
                      <div class="col-sm-9 text-left">
                        Created at: {{note.created_at}}
                      </div>
                      <div class="col-sm-3  text-right">
                        Published by: {{note.user.name}}
                      </div>
                      <hr/>
                  </div>
                  <div class="row text-justify">
                      {{note.text}}
                  </div>
                  <div class="row  text-right">
                    <a href="">
                      <span ng-if="note.favorite">
                        Remove from favorites
                        <span  class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </span>
                      <span ng-if="!note.favorite">
                        Add to favorites
                        <span  class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                      </span>
                    </a>

                  </div>
                  <hr style="border:2px solid;"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">CREATE A NOTE <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
        <div class="panel-body">
          <div class="user_container">
            Panel Content
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
